PlaystationNetworkAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns="urn:PSN"
targetNamespace="urn:PSN" >
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:PSN">
			<xsd:element name="GetProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="psnId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetProfileResult" type="tns:Profile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Profile">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="PsnId" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="AvatarSmall" type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Progress" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="0" maxOccurs="1" name="TrophyCount" type="tns:TrophyCount" />
					<xsd:element minOccurs="0" maxOccurs="1" name="PlayedGames" type="tns:ArrayOfPlayedGame" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrophyCount">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Platinum" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Gold" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Silver" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Bronze" nillable="true" type="xsd:int" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPlayedGame">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="PlayedGame" nillable="true" type="tns:PlayedGame" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PlayedGame">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:Game">
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1" name="Progress" nillable="true" type="xsd:int" />
							<xsd:element minOccurs="0" maxOccurs="1" name="TrophyCount" type="tns:TrophyCount" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Game">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Id" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Image" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Profile" nillable="true" type="tns:Profile" />

		</xsd:schema>

	</types>
	<message name="GetProfileSoapIn">
		<part name="parameters" element="tns:GetProfile"/>
	</message>
	<message name="GetProfileSoapOut">
		<part name="parameters" element="tns:GetProfileResponse"/>
	</message>
	
	<message name="UserNotFoundFault"/>
	
	<portType name="PlaystationNetworkAPISoap">
		<operation name="GetProfile">
			<input message="tns:GetProfileSoapIn"/>
			<output message="tns:GetProfileSoapOut"/>
			<fault name="fault" message="tns:UserNotFoundFault"/>
		</operation>
	</portType>
	<binding name="PlaystationNetworkAPISoap" type="tns:PlaystationNetworkAPISoap">
		<soap:binding style="document"
		transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetProfile">
			<soap:operation soapAction="GetProfile"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>

		</operation>
	</binding>
	<service name="PlaystationNetworkAPI">
		<port name="PlaystationNetworkAPISoap" binding="tns:PlaystationNetworkAPISoap">
			<soap:address location="http://psnserverapi.appspot.com/PlaystationNetworkAPI"/>
		</port>
	</service>

</definitions>
